body{
  margin: 0;
}

.square{
  background-color: black;
  margin: 0;
  height: calc(100vh - 70px);
  width: 70%;
  float: left;
  position: sticky;
}

.rectangle{
  height: calc(100vh - 70px);
  width: 30%;
  background-color: grey;
  position: sticky;
  margin-left: 70%
}

#currentMeeting{
  position: absolute;
  display: inline;
  padding-left: 2%;
}

#meetingName{
  position: sticky;
  top: 35%;
  display: inline;
  padding-left: 2%;

}
#time{
  position: sticky;
  top: 33.5%;
  float: right;
  padding-right: 2%;
}

#roomName{
  position: sticky;
  top: 96%;
  padding-left: 2%;
}

#authorName{
  position: sticky;
  top: 40%;
  padding-left: 2%;
}

#nextMeeting{
  position: absolute;
  display: inline;
  padding-left: 2%;
}

#checkIn{
  position: sticky;
  border-radius: 10px;
  outline-color: black;
  float: right;
  top:90%;
  cursor:pointer;
}

.rectangle img{
  float: right;
  padding: 1.6em;
  cursor: pointer;
}
