<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#555555; background-color: #f9f9f9; border-radius: 4px; padding-left:12px}</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <form  class="form-horizontal" autocomplete="off" method="post" #f="ngForm" (submit)="f.form.valid && sendFeedBack()">
          <div class="form-group ">
            <div class="col-sm-7 col-sm-offset-2">
              Your name:
              <input class="form-control"
                     id="name"
                     name="name"
                     placeholder="Name"
                     type="text"
                     [(ngModel)]="model.eventAuthor"
                     #name="ngModel"
                     [ngClass]="{'is-invalid': f.submitted && name.invalid}"
                     required
                  />
              <div *ngIf="f.submitted && name.invalid" class="invalid-input">
                <div *ngIf="name.errors?.required">Name is not valid</div>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-7 col-sm-offset-2">
              Event name:
              <input class="form-control"
                     id="subject"
                     name="subject"
                     placeholder="Event name"
                     type="text"
                     [(ngModel)]="model.eventName"
                     #eventName="ngModel"
                     [ngClass]="{'is-invalid': f.submitted && eventName.invalid}"
                      required/>
              <div *ngIf="f.submitted && eventName.invalid" class="invalid-input">
                <div *ngIf="eventName.errors?.required">Event name is not valid</div>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-5 col-sm-offset-2">
              Person count:
              <input class="form-control"
                     id="number"
                     name="number"
                     placeholder="Person count"
                     type="text"
                     [(ngModel)]="model.personCount"
                     #pCount="ngModel"
                     [ngClass]="{'is-invalid': f.submitted && pCount.invalid}"
                     required
              />

              <div *ngIf="f.submitted && pCount.invalid" class="invalid-input">
                <div *ngIf="pCount.errors?.required">Number is required</div>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-4 col-sm-offset-2">
              Event date:
              <input class="form-control"
                     id="date"
                     name="date"
                     placeholder="MM/DD/YYYY"
                     type="date"
                     [(ngModel)]="model.eventDate"
                     #Date="ngModel"
                     [ngClass]="{'is-invalid': f.submitted && Date.invalid}"
                     required
              />

              <div *ngIf="f.submitted && Date.invalid" class="invalid-input">
                <div *ngIf="Date.errors?.required">Date is required</div>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-4 col-sm-offset-2">
              Starting time:
              <input class="form-control"
                     id="number1"
                     name="number1"
                     placeholder="Starting time: hh:mm"
                     type="time"
                     [(ngModel)]="model.startingTime"
                     #startingTime="ngModel"
                     [ngClass]="{'is-invalid': f.submitted && startingTime.invalid}"
                     required
              />

              <div *ngIf="f.submitted && startingTime.invalid" class="invalid-input">
                <div *ngIf="startingTime.errors?.required">Start time is required</div>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-4 col-sm-offset-2">
              Ending time:
              <input class="form-control"
                     id="number2"
                     name="number2"
                     placeholder="Ending time: hh:mm"
                     type="time"
                     [(ngModel)]="model.endingTime"
                     #endTime="ngModel"
                     [ngClass]="{'is-invalid': f.submitted && endTime.invalid}"
                     required
              />

              <div *ngIf="f.submitted && endTime.invalid" class="invalid-input">
                <div *ngIf="endTime.errors?.required">Ending time is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <button class="btn btn-primary " name="submit" type="submit">
                Submit request
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
