.body {
  margin: 0;
}

.logo {
  float: left;
  width:15%; /* you can use % */
  height: auto;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: #2B392B;
  margin: 0;
  height: 70px;
  width: 100%;
  text-align:center;
  -webkit-box-shadow: 11px -2px 55px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px -2px 55px 3px rgba(0,0,0,0.75);
  box-shadow: 11px -2px 55px 3px rgba(0,0,0,0.75);
}
.navigation-bar img{
  float: left;
  margin-left: 168px;
  margin-top: 3px;

}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-container{

}

.navigation-bar li a {
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 85px;
  padding: 5px 15px
}


