<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intiak-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Event manager</title>
  <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
</head>
<body>
<div class="square">
  <h1 id="currentMeeting"><span style="color: white; ">Current meeting</span></h1>
  <p id="meetingName"><span style="color: white; font-size: 2.5em;">{{currentEvent.eventName}}</span></p>
  <p id="authorName"><span style="font-size: x-large; color: white; ">{{currentEvent.eventAuthor}}</span></p>
  <p id="time" *ngIf="currentEvent.startingTime.hour!=0"><span style="color: white; font-size: 2em; ">{{currentEvent.startingTime.hour}}:{{currentEvent.startingTime.minutes}} - {{currentEvent.endingTime.hour}}:{{currentEvent.endingTime.minutes}}</span></p>
  <p id="roomName"><span style="font-size: medium; color: white; ">Maple room</span></p>
  <button id="checkIn" type="button" (click)="checkIn()" *ngIf="currentEvent.checkIn===false && currentEvent.startingTime.hour!=0">CheckIn</button>
</div>
<div class="rectangle">
  <h1 id="nextMeeting">
    <span style="color: white; ">Next meeting</span>
  </h1>
  <p id="meetingName"><span style="font-size: x-large; color: white; ">{{nextEvent.eventName}}</span></p>
  <p id="authorName"><span style="font-size: medium; color: white; ">{{nextEvent.eventAuthor}}</span></p>
  <p id="time" *ngIf="nextEvent.startingTime.hour!=0"><span style="font-size: small; color: white; ">{{nextEvent.startingTime.hour}}:{{nextEvent.startingTime.minutes}} - {{nextEvent.endingTime.hour}}:{{nextEvent.endingTime.minutes}}</span></p>

</div>
</body>
</html>
